/* Paleta de colores */
/* 
Fluorescent Blue - #81F0E5
Cinnabar - #E94F37
Oxford Blue - #0B2545
Cedar Chest - #D9594C
*/

@import url('https://fonts.googleapis.com/css2?family=Rubik+Gemstones&family=Space+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Gemstones&family=Space+Mono:ital@0;1&display=swap');

* {
    /* border: 1px solid black; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Rubik Gemstones', cursive;
    font-family: 'Space Mono', monospace;
}

.img-logo {
    width: 500px;
}

.inicio img {
    width: 50%;
}

.inicio {
    text-align: center;
    margin: 300px 150px;
    padding: 20px 80px;
}





.inicio h4 {
    font-size: 23px;
    font-family: 'Rubik Gemstones', cursive;
    font-family: 'Space Mono', monospace;
}

.Contacto {
    font-size: 20px;
    letter-spacing: 1px;
    width: 235px;
    height: 450px;
    margin: 310px 280px;
    padding: 90px 80px;
    bottom: 1px solid black;
    color: red;
    background-color: yellow
}

/*NAVEGADOR*/

nav {
    background: #81F0E5;
    height: 160px;
    width: 100%;
}

.enlace {
    position: absolute;
    padding: 14px 30px;
}

.logo {
    height: 130px;
}

nav ul {
    float: right;
    margin: 0px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 37px 18px;
}

nav ul li a {
    color: #0B2545;
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 3px;
    text-decoration: none;

}

li a.active,
li a:hover {
    background: #D9594C;
    transition: .5s;
}

.checkbtn {
    font-size: 30px;
    color: #0B2545;
    float: right;
    line-height: 190px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

.active-nav {
    font-weight: bold;
    text-decoration: underline;
}

@media (max-width: 1165px) {

    .enlace {
        padding: 22px 40px;
    }

    .logo {
        height: 115px;
    }

    nav ul li a {
        font-size: 15px;
    }

    nav ul li {
        margin: 38px 18px;
    }

}

@media (max-width: 1043px) {

    .enlace {
        padding: 27px 32px;
    }

    .logo {
        height: 105px;
    }

    nav ul li a {
        font-size: 13px;
    }

    nav ul li {
        margin: 37px 18px;
    }

}

@media (max-width: 961px) {
    .checkbtn {
        display: flex;
        padding: 8px 20px;
        margin: 50px 10px;
        color: #0B2545;
    }

    .logo {
        height: 80px;
    }

    .enlace {
        padding: 39px 22px;
    }

    nav ul {
        position: fixed;
        width: 100%;
        padding: 0px 33px;
        height: 100vh;
        background: #81F0E5;
        top: 160px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        z-index: 10;
    }

    nav ul li {
        display: block;
        margin: 50px 0;
        line-height: 20px;
    }

    nav ul li a {
        font-size: 20px;
    }

    li a.active,
    li a:hover {
        background: #D9594C;
        transition: .5s;
    }

    #check:checked~ul {
        left: 0;
    }

}

/* NAVEGADOR-FIN */

/* INICIO MAIN*/

.frase__akira h1 {
    font-size: 30px;
    text-align: center;
}

.frase__akira hr {
    margin: 1rem 6rem;
    color: inherit;
}

/* INICIO MAIN-FIN */

/* INICIO FOOTER */

:root {
    --facebook: #3b5999;
    --instagram: #e4405f;
    --twitter: #55acee;
}

.redes-container {
    display: flex;
    height: 100vh;
    align-items: flex-end;
    justify-content: center;
}

.redes-container ul li {
    display: inline-block;
    margin: 0 2px;
    width: 50px;
    height: 50px;
    text-align: center;
}

.redes-container ul {
    padding-left: 0;
}

.redes-container ul li a {
    display: block;
    padding: 0 10px;
    background: #333;
    color: #fff;
    line-height: 50px;
    font-size: 18px;
    box-shadow: 0 3px 5px 0px rgba(0, 0, 0, .2);
    transition: .2s;
}

.redes-container ul:hover a {
    filter: blur(2px);
}

.redes-container ul li a:hover {
    transform: translateY(-3px) scale(1.05);
    box-shadow: 0 5px 5px 0px rgba(0, 0, 0, .4);
    filter: none;
}

.redes-container ul li .facebook:hover {
    background: var(--facebook);
}

.redes-container ul li .instagram:hover {
    background: var(--instagram);
}

.redes-container ul li .twitter:hover {
    background: var(--twitter);
}

/* INICIO FOOTER-FIN */

/* GALERIA */

h1 {
    font-weight: 400;
    text-align: center;
    padding: 20px 0;
    font-size: 40px;
}

.linea {
    background: #D9594C;
    height: 5px;
    width: 100%;
    display: block;
}

.galeria {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    width: 70%;
    margin: auto;
    grid-gap: 17px;
    padding: 40px 0;
    overflow: hidden;
}

.galeria img {
    width: 100%;
    vertical-align: top;
    object-fit: cover;
    transition: transform 0.5s;
}

.galeria>a {
    display: block;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 6px rgba(0, 0, 0, .5);
    border-radius: 5px;
}

.galeria a:hover img {
    filter: blur(1px);
    transform: rotate(10deg) scale(0.9);
}

.light-box {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, .5);
    transition: transform .3s ease-in-out;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(0);
}

.light-box img {
    width: 40vw;
    max-height: 70vh;
}

.light-box:target {
    transform: scale(1.3);
}

.close {
    display: block;
    position: absolute;
    color: white;
    top: 130px;
    right: 22rem;
    text-decoration: none;
    text-align: center;
}

.next {
    display: block;
    color: white;
    height: 33px;
    width: 20px;
    line-height: 30px;
    text-decoration: none;
    text-align: center;
    z-index: 5;
}

@media screen and (max-width:1163px) {

    .galeria {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        width: 90%;
        margin: auto;
        grid-gap: 17px;
        padding: 40px 0;
        overflow: hidden;
    }

    .close {
        right: 18rem;
    }
}

@media screen and (max-width:1100px) {
    .light-box:target {
        transform: scale(1.6);
    }
    .close {
        top: 190px;
        right: 15rem;
    }
}

@media screen and (max-width:900px) {
    .light-box:target {
        transform: scale(1.8);
    }
    .close {
        top: 220px;
        right: 12.6rem;
    }
}

@media screen and (max-width:650px) {
    .light-box:target {
        transform: scale(2.4);
    }
    .close {
        top: 270px;
        right: 12rem;
    }
}

@media screen and (max-width:500px) {
    .light-box:target {
        transform: scale(2.8);
    }
    .close {
        top: 315px;
        right: 10rem;
    }
}

@media screen and (max-width:352px) {
    .galeria {
        width: 250px;
    }
    .close {
        top: 340px;
        right: 7.5rem;
    }
}







.biografía {
    width: 1800px;
    height: 2400px;
    margin: -230px 30px;
    padding: 20px;
}

.biografía__parrafo {
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: blue;
    width: 800px;
    height: 420px;
    margin: 380px 140px;
    padding: 5px 170px;
}

.Foto-Biografía {
    position: relative;
    top: -400px;
    left: 900px;
}

.frase {
    text-align: center;
    font-family: 'Rubik Gemstones', cursive;
    font-family: 'Space Mono', monospace;
    margin: -300px 320px;
}

.manga__parrafo {
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 800px;
    height: 648px;
    margin: 330px 310px;
}

.manga__dibujo {
    position: relative;
    top: -950px;
    left: 1040px;
}

.parrafo__aparte {
    width: 1230px;
    height: 140px;

}

.parrafo__aparte2 {
    width: 1120px;
    height: 330px;
    margin: 10px 108px;
}

.manga_dibujo2 {
    position: relative;
    top: -385px;
    left: 305px;
}

.obras {
    margin: 300px 108px;
}

.obras img {
    width: 70%;
    border-width: 30px;
    /* text-align: center; */
    margin: 0px 230px;
    padding: 10px 0px;
}

.obras h3 {
    font-size: 26px;
    color: blue;
    font-family: 'Rubik Gemstones', cursive;
    font-family: 'Space Mono', monospace;

}

.obras p {
    background-color: yellow;
    color: red;
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}